[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

feedparser = "*"
dockerfile-parse = "*"
semver = "*"
pygithub = "*"
GitPython = "2.1.7"
python-dotenv = "*"


[dev-packages]

"autopep8" = "*"
pylint = "*"
pytest = "*"


[requires]

python_version = "3.6"
